@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Lobster&family=Montserrat:wght@400;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FFA4B1;
  font-family: 'Lobster', sans-serif;
}

.main-div {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 15%;
  border: 2px solid #023373;
  width: 90%;
  border-radius: 20px;
  background-color: #FFDFBE;
  text-align: center;
  height: 15em;
}

.main-div h1 {
  color: #023373;
  padding-bottom: 1em;
  font-size: 42px;

}

.button-group {
  display: flex;
  gap: 2em;
}

.btn {
  background-color: #FF6177;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 120px;
  display: flex;
  justify-content: center;
  border: 3px solid #023373;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Lobster', sans-serif;
  color: #023373;
}

/* .btn:hover {
  opacity: 0.8;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFDFBE;
  border-top: 2px solid #023373;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.footer_item {
  margin-top: 0.2em;
}

.btn_share {
  background-color: #FF6177;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  width: 300px;
  display: flex;
  justify-content: center;
  border: 3px solid #023373;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Lobster', sans-serif;
  color: #023373;
}

.main-input {
  width: 290px;
  height: 35px;
  border: 2px solid #023373;
  font-family: 'Lobster', sans-serif;
  font-size: 22px;
  text-align: center;
  overflow: hidden;
}

.val {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .main-div {
    padding-top: 45%;
    padding-bottom: 45%;
  }

  .button-group {
    flex-direction: column;
  }

  .main-div h1 {
    color: #023373;
    padding-bottom: 1em;
    font-size: 24px;

  }

  .main-input {
    width: 200px;
    height: 35px;
    border: 2px solid #023373;
  }

  .button-group {
    gap: 1em;
  }

  .btn {
    /* width: 80px; */
    padding: 0.2em;
    /* padding-bottom: 0.2em; */
  }

  .btn_share {
    font-size: 18px;
    width: 200px;
  }
}

.common{
  margin-top: 1em;
  text-align: center;
  padding: 2em;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  align-items: center;
  align-self: center;
}

.one h1{
  font-size: 10em;
  font-weight: lighter;
}

.two h1{
  font-size: 5em;
} 
.two p{
  margin-top: 1em;
  font-size: 2em;
  font-weight: lighter;
}


.three .text-box {
  text-align: -webkit-right;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box .hbd-chatbox {
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  margin-top: 0.5em;
  width: fit-content;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.four p {
  margin-top: 2em;
  font-size: 2.5rem;
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  left: 0;
  right: 0;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.four .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}
